@model IEnumerable<FormRobot.Domain.Entities.FormMatch>

@{
    ViewBag.Title = "Key Word Matching";
}

<h2>Key Word Matching</h2>
<b style="color:red; font-size:x-large">
    Keyword user data matching table <br />
    Matching of textfield and its value is done with FormItemText and FormItemKey<br />
    No matching is found, it will keep blank<br />
    For example : "ERC-20 wallet address" FormItemText is actually "EthWalletAddress" keyword.
    FormItemText might be different text for each google doc but the meaning of it will be just one.
</b>
<p>
    @Html.ActionLink("Create New", "FormMatchItem",null,new { @class="btn btn-info" })
</p>
@Html.Partial("pSearchForm")

<table class='table table-hover table-bordered table-striped'>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormItemText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormItemKey)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormItemText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormItemKey)
            </td>
            <td>
                @Html.ActionLink("Edit", "FormMatchItem", new { id = item.FormMatchId }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
