@model IEnumerable<FormRobot.Domain.Entities.FormMatch>

@{
    ViewBag.Title = "Key Word Matching";
}

<h2>Matching table</h2>
<b style="color:red;">
    Following matching table will be used to match airdrop form inputs with user data.<br />
    "FormItemText" is the text displayed in airdrop form for an input.<br />
    "FormItemKey" is the key used to refer to an input in airdrop form.<br />
    If no match is found for specific field, it will be left blank<br />
    For example : FormItemText is "ERC-20 wallet address" and  FormItemKey  is "EthWalletAddress". "EthWalletAddress" will be used to refer to this input.<br />
    Different FormItemText values may be used for a single FormItemKey.<br />
</b>
<p>
    @Html.ActionLink("Create New", "FormMatchItem",null,new { @class="btn btn-info" })
</p>
@Html.Partial("pSearchForm")

<table class='table table-hover table-bordered table-striped'>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormItemText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormItemKey)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormItemText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormItemKey)
            </td>
            <td>
                @Html.ActionLink("Edit", "FormMatchItem", new { id = item.FormMatchId }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
